# ignore everything
/*

# a crutch to be able to not ignore some files inside ignored dirs
!config
config/*
!resourcepacks
resourcepacks/*

# but not these files (dir is also a file)
!mods/
!resourcepacks/localize_rituals/
!scripts/

!.gitignore
!README.md

# changed server-side configs
!config/extrabotany.cfg
!config/acintegration.cfg
!config/openblocks.cfg
!config/eplus.cfg
!config/scalinghealth
config/scalinghealth/*
!config/scalinghealth/main.cfg
!config/Waystones.cfg
!config/abyssalcraft.cfg
!config/AppliedEnergistics2
config/AppliedEnergistics2/*
!config/AppliedEnergistics2/AppliedEnergistics2.cfg
!config/zettaindustries.cfg
!config/antiqueatlas
config/antiqueatlas/*
!config/antiqueatlas/atlas_overlay.cfg
!config/corpse.cfg
!config/brandon3055
config/brandon3055/*
!config/brandon3055/DraconicEvolution.cfg
!config/industrialforegoing.cfg
!config/Galacticraft
config/Galacticraft/*
!config/Galacticraft/power-GC3.conf
!config/Galacticraft/core.conf
!config/Galacticraft/planets.conf
!config/cyclicmagic.cfg
!config/vintagefix.properties
!config/defaultoptions.cfg
!config/defaultoptions/
!config/difficultylock.cfg
!config/animalium.cfg
!config/IncreaseMobs.cfg
!config/loliasm.cfg
!config/cd4017be
config/cd4017be/*
!config/cd4017be/inductiveLogistics.rcp
!config/badmobs.cfg
