# ignore everything
/*

# but not these files (dir is also a file)
!config/
!mods/
!resourcepacks/
!scripts/
!options.txt
!optionsof.txt

!.gitignore
!README.md


# ignore smth that's inside not ignored dirs

# changes on startup, they're client, so just ignore them
config/InvTweaks/InvTweaks.cfg
config/splash.properties

